---
layout: default
bg: "trainings.jpg"
permalink: /archiwum/metody-jadrowe-warszawa/
title: "Warsztaty stacjonarne 'Kwantowe uczenie maszynowe i kwantowe metody jądrowe' - Warszawa"
summary: "15-16 listopada 2025 • Instytut Ekonometrii (budynek G (główny)) • 115 • ul. Niepodległości 162  (przy metrze Pole Mokotowskie), Warszawa"
event_id: 23
active: false
---
{% assign event = nil %}
{% for candidate in site.data.archiwum.events %}
  {% if candidate.id == page.event_id %}{% assign event = candidate %}{% endif %}
{% endfor %}
{% include event.html event=event %}
